@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme{
  --font-display: "Work Sans", "sans-serif"; 
  --color-dark: #434343;
}

@layer base {
  body{
    @apply font-display overflow-x-hidden
  }
  p{
    @apply leading-normal
  }

  .wrapper{
    @apply max-w-7xl mx-auto px-4 2xl:px-0 w-full
  }
  
  .rounded{
    @apply  border-[1px] shadow-xl border-black/20 rounded-md
  }

  .link{
    @apply min-w-[120px] items-center justify-center text-sm flex px-6 rounded-lg text-center py-2.5  hover:scale-95 transition-all duration-200 cursor-pointer  shadow-md
  }
  .link-small{
    @apply w-fit items-center justify-center text-sm flex px-3 rounded-lg text-center py-2.5  hover:scale-95 transition-all font-semibold duration-200 cursor-pointer  shadow-md bg-white text-black
  }

  h2{
    @apply text-5xl
  }

  .details h2{
    @apply text-3xl
  }

  h4{
    @apply text-xl font-semibold
  }

  input{
    @apply mt-1.5 border-[1px]   w-full p-1.5 rounded-lg 
  }

  label{
    @apply font-semibold
  }

  form{
    @apply space-y-4
  }

  .submit{
    @apply bg-black text-white w-full p-2 rounded-lg cursor-pointer
  }

  .ql-toolbar.ql-snow + .ql-container.ql-snow {
    @apply min-h-[250px] 
  }

  .react-multi-carousel-dot-list {
    @apply !-bottom-0
  }

  .services_carousel .react-multi-carousel-track  {
    @apply gap-4
  }

  .review .react-multi-carousel-dot-list{
    @apply !-bottom-1
  } 

  .ql-toolbar.ql-snow {
    @apply !rounded-t-xl ;
  }

  .ql-container.ql-snow {
    @apply !rounded-b-xl ;
  }

 

  /* .react-multi-carousel-item{
    @apply !w-[300px] 
  } */
}

.react-multiple-carousel__arrow--right{
  right: calc(2% - 10px) !important;
}

.react-multiple-carousel__arrow--left{
  left: calc(1% - 10px) !important;
}

.ql-editor{
  height: 250px !important;
}

.nsm7Bb-HzV7m-LgbsSe .jVeSEe .i5vt6e-Ia7Qfc .uaxL4e-RbRzK{
 background-color: red !important;
 border-radius: 10px !important;
 box-shadow: 10px black !important;
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
  --gray-dark: #212122;
  --gray-dark-db: #141516;
}

.bg-gray-dark {
  background-color: var(--gray-dark) !important;
}

.bg-gray-db{
  background-color: var(--gray-dark-db) !important;
}


.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}




